body {
background-color:#FFFFFF;
color:#333333;
}
body, p, ol, ul, td {
font-family:verdana,arial,helvetica,sans-serif;
font-size:13px;
line-height:18px;
}
pre {
background-color:#EEEEEE;
font-size:11px;
padding:10px;
}
a {
color:#000000;
}
a:visited {
color:#666666;
}
a:hover {
background-color:#000000;
color:#FFFFFF;
}
.header {
background-color:#E0FFFF;
color:#000000;
height:70px;
text-align:center;
}
.footer {
background-color:#E0FFFF;
color:#000000;
height:70px;
text-align:center;
}
.fieldWithErrors {
display:table;
padding:2px;
}
.success {
background-color:#CCF;
border:2px solid #00FF00;
font-size:12px;
padding:6px;
}
.notice {
background-color:#CCF;
border:2px solid #00FF00;
font-size:12px;
padding:6px;
}
.error {
background-color:#CCF;
border:2px solid #FF0000;
font-size:12px;
padding:6px;
}
.error, .notice, .success {
margin-bottom:1em;
padding:0.8em;
text-align:center;
}
#errorExplanation {
background-color:#F0F0F0;
border:2px solid red;
margin-bottom:20px;
padding:7px 7px 12px;
width:400px;
}
#errorExplanation h2 {
background-color:#CC0000;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
margin:-7px;
padding:5px 5px 5px 15px;
text-align:left;
}
#errorExplanation p {
color:#333333;
margin-bottom:0;
padding:5px;
}
#errorExplanation ul li {
font-size:12px;
list-style:square outside none;
}

.button-to 
{ display:inline-block;
}

.prop {
    height:350px;
    float:right;
    width:1px;
  }

.clear {
    clear:both;
    height:1px;
    overflow:hidden;
  }
